
.container select{
    border-radius: 2px;
    outline: none;
    padding: 9.5px;
    font-size: 15px;
    background: var(--inputBG);
    border: none;
    color: white;
}
.container select option{
    border-radius: 5px;
    background: var(--inputBG);
    color: white;
    padding: 5px;
}