.container{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 70px;
    background: rgba(0, 0, 0, 0.888);
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.516);
    position:fixed;
    z-index: 998;
    max-width: calc(1920px - 50px);
    width: calc(100% - 50px);
    right: 50%;
    transform: translateX(50%);
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}
.linkContaienr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}


.linkContaienr a{
    position: relative;
}

.linkContaienr a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    transform: translate(5% , 25px);
    transition: .2s ease;
    z-index: -1;
    border-radius: 5px;
}

.linkContaienr a:first-child:before{
    background: lightcyan
}
.linkContaienr a:nth-child(2):before{
    background: greenyellow;
}
.linkContaienr a:nth-child(3):before{
    background:  yellow
}
.linkContaienr a:nth-child(4):before{
    background: pink
}


.linkContaienr a:hover {
    color: black;
}
.linkContaienr a:hover::before{
    transform: translate(5% , -2px);
   height: 110%;
}


.center{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.logo{
    position: absolute;
    width: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}


.logo img{
    width: 55px;
    background: #0d0d0d;
    border-radius: 50%;
}


.leftSide{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}
.account{
    display: flex;
    align-items: center;
    gap: 10px;
}
.account a{
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
}


.account a:hover{
    color: black;
}
.account a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    transform: translate(5% , 15px);
    transition: .2s ease;
    z-index: -1;
    border-radius: 5px;
    background:lightskyblue;
}

.account a:hover::before{
    transform: translate(5% , 0px);
   height: 110%;
}




.leftSide img{
    width: 100px;
    height: 50px;
    scale: 1.9;
}



.hameMenu{
    display: none;
}

@media screen and (max-width:1224px) {
 .rightSide{
    display: none;
 }
 
 .account a{
    display: none;
 }


 .hameMenu{
    display: flex;
 }
}

@media screen and (max-width:650px) {
    .account a{
        display: none;
    }
}
@media screen and (max-width:800px) {
    .searchContainer{
        display: none;
    }
    .center{
        left: 30px;
    }
    
}


@media screen and (max-width:550px) {
    .container{
        width: 100%;
    }
}