.container{
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 70px;
    background: rgba(0, 0, 0, 0.888);
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.516);
    position:fixed;
    z-index: 998;
    max-width: calc(1920px - 50px);
    width: calc(100% - 50px);
    right: 50%;
    transform: translateX(50%);
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}
.linkContaienr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}


.linkContaienr a{
    position: relative;
}

.linkContaienr a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    transform: translate(5% , 25px);
    transition: .2s ease;
    z-index: -1;
    border-radius: 5px;
}

.linkContaienr a:first-child:before{
    background: lightcyan
}
.linkContaienr a:nth-child(2):before{
    background: greenyellow;
}
.linkContaienr a:nth-child(3):before{
    background:  yellow
}
.linkContaienr a:nth-child(4):before{
    background: pink
}

.categories{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: solid;
    margin-top: 3px;
    border-color:rgb(110, 18, 124) ;
}

.categories:hover{
    border-color: aquamarine;
}



.cateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cateButton svg{
    scale: 1.5;
    transition: .2s ease;
    color: rgb(225, 139, 238);
}

.categories:hover svg{
 rotate: -180deg;
 transform: translate(0);
 color: aquamarine;
}
.categories:hover::before{
    background: aquamarine;
}

.categoriesSection{
    position: absolute;
    height: fit-content;
    width: 700px;
    background: rgba(0, 0, 0, 0.832);
    top:28px;
    right: 0px;
    transform: translateY(-100%);
    opacity: 0;
    transition: .2s ;
    border-radius: 5px;
    pointer-events: none;
}


.categories:hover > .categoriesSection,
.categoriesSection:hover {
    pointer-events: all;
    transform: translateY(0%);
    opacity: 1;
}

.linkContaienr a:hover {
    color: black;
}
.linkContaienr a:hover::before{
    transform: translate(5% , -2px);
   height: 110%;
}


.center{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.logo{
    position: absolute;
    width: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}


.logo img{
    width: 55px;
    background: #0d0d0d;
    border-radius: 50%;
}


.leftSide{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.leftSide a{
    position: relative;
    white-space: nowrap;
}


.leftSide a:hover{
    color: black;
}
.leftSide a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    transform: translate(5% , 25px);
    transition: .2s ease;
    z-index: -1;
    border-radius: 5px;
    background:lightskyblue;
}

.leftSide a:hover::before{
    transform: translate(5% , -2px);
   height: 110%;
}


.leftSide img{
    width: 100px;
    height: 50px;
    scale: 1.9;
}

.searchContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 250px;
    justify-content: space-between;
}

.searchContainer input{
    border-radius: 5px;
    height: 100%;
    max-width: 200px;
    flex: 1;
    font-size: 20px;
    border: none;
    background: rgb(44, 43, 43);
    outline: none;
    text-align: center;
    font-weight: bold;
    color:white;
}

.searchContainer button{
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 40px;
    padding: 10px 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background: rgb(44, 43, 43);

}

.searchContainer button svg{
    scale: 1.4;
}

.hameMenu{
    display: none;
}

@media screen and (max-width:1224px) {
 .rightSide{
    display: none;
 }
 
 .leftSide a{
    display: none;
 }


 .hameMenu{
    display: flex;
 }
}

@media screen and (max-width:650px) {
    .leftSide a{
        display: none;
    }
}
@media screen and (max-width:800px) {
    .searchContainer{
        display: none;
    }
    .center{
        left: 30px;
    }
    
}


@media screen and (max-width:550px) {
    .container{
        width: 100%;
    }
}