.container{
    position: fixed;
    right: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    bottom: 25%;
    z-index: 990;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 5px 5px 5px black;
}

.chatButton{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed;
    border: none;
    transition: .2s ease;
    border: solid;
    border-color: var(--primaryColor);
    background:var(--primaryBG);
    color: var(--primaryColor);
}

.chatButton:active{
    scale: 1.5;
    rotate: -60deg;
}

.chatButton svg{
    scale: 3;
}

.optionContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 110%;
    gap: 20px;
    transition: .2s ease;
}

.optionContainer button{
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px black;
    gap: 10px;
    font-size: 15px;
    font-weight:800;
    width: 130px;
    cursor: pointer;
    transition: .2s ease;
    background: var(--primaryBG);
    border: solid var(--primaryColor);
    color: var(--primaryColor);
    box-sizing: border-box;
    white-space: nowrap;
    border-width: 1px;
}

.optionContainer button:first-child{
    transform: translate(35px , 35px);
    transform-origin: 150px;
    opacity: 0;
    pointer-events: none;


}
.optionContainer button:nth-child(2){
    transition-delay: .1s;
    transform: translate(35px);
    transform-origin: 150px;
    opacity: 0;
    pointer-events: none;


}
.optionContainer button:nth-child(3){
    transition-delay: .2s ;
    transform: translate(35px , -35px);
    transform-origin: 150px;
    opacity: 0;
    pointer-events: none;
}


.optionContainer button svg{
    scale: 1.5;
}


@media screen and (max-width:450px) {
 .container{
    scale: .8;
    right: auto;
    left: -40px;
    box-shadow: none;
 }
 .chatButton{
    justify-content: flex-start;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0px 0px 5px var(--primaryColor);
    background: transparent;
    background: var(--primaryBG);

 }
 .chatButton svg{
    scale: 2;
    padding-right: 2px;
 }
 .chatButton:active{
    scale: 1.5;
    rotate: 0deg;
    scale: 1;
   transform: translateX(30px) ;

}
.optionContainer{
    right: -220%;
}
.optionContainer button{
    border-radius: 5px;
    box-shadow:none;
}

.optionContainer button:first-child{
    transform: translate(-35px , 35px);
}
.optionContainer button:nth-child(2){
    transform: translate(-35px);
}
.optionContainer button:nth-child(3){
    transform: translate(-35px , -35px);
}


}