.container{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}
.container label{
    flex: .25;
}

.selectContainer{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
    
.select{
    flex: 1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: none;
    background: var(--inputBG);
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.options{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    background: var(--lgPrimaryBG);
    width: 95%;
    padding: 10px 0px;
    opacity: var(--opacity);
    pointer-events: var(--pointerEvent);
    border-radius: 5px;
    transition: .2s ease;
    z-index: 999;
    border: solid var(--transParentPrimaryColor) ;
    transform: translateY(var(--transfer))
}

.options span{
    width: 90%;
    border-radius: 5px;
    transition: .2s ease;
    padding: 5px;
    margin: auto;
}

.options span:hover{
    background: var(--primaryColor);
    cursor: pointer;
    color: black;
}
.options::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
}


.options::-webkit-scrollbar-track{
    background: var(--lgPrimaryBG);
    border-radius: 5px;

}

.options::-webkit-scrollbar-thumb{
    background-color:var(--primaryColor);
    border-radius: 5px;
}