.cartIcon{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    position: relative;
    background: var(--lgPrimaryBG);
    padding: 5px 10px;
    white-space: nowrap;
    width: 130px;
    height: 32px;
    justify-content: space-between;
}

.cartIcon svg{
    scale: 1.5;
    margin-bottom: 2px;
}
.price{
    display: flex;
    align-items: center;
    gap: 4px;
}
.price span:first-child{
    max-width: 60px !important; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
}

.cartCount{
    position: absolute;
    left: 0px;
    background: var(--primaryBlue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    top: -15px;
    left: -5px;
    
}