.container{
    animation: showup .5s linear forwards;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.container::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
}

.container::-webkit-scrollbar-track{
    background: var(--lgPrimaryBG);
    border-radius: 5px;

}

.container::-webkit-scrollbar-thumb{
    background-color:var(--primaryColor);
    border-radius: 5px;
}

.orderContainer{
    display: flex;
    align-items: center;
    border: double var(--primaryBG);
    border-radius: 5px;
    padding: 5px;
    gap: 20px;
    height: 230px;
    cursor: pointer;
    transition: .2s ease;
}
.orderContainer:hover{
border-color: var(--primaryColor);
}

.orderContainer img {
    gap: 10px;
    width: 25%;
    height: 100%;
    border-radius: 5px;
}

.leftSide{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 2px 5px 10px;
    justify-content: space-evenly;
    gap: 15px;
}
.leftSide label{
    font-size: large;
    font-weight: bold;
    color: var(--primaryText);
}

.leftSide p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    color: var(--primaryText);

}

.price{
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: bold;
}
.priceLine{
    flex:.9;
    background-color: var(--primaryColor);
    height: 1.5px;
    opacity: .5;

}
.count{
    border-radius: 50%;
    background: var(--primaryColor);
    color: black;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.score{
    color: var(--primaryGold);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
}
.score svg{
    margin-bottom: 2px;
}


@media screen and (max-width:650px) {
    .container{
        margin-top: 50px;
    }
}

@media screen and (max-width:450px) {
  .container p{
    font-size: 13.5px;
  }
  .container span{
    font-size: 13.5px;
  }
  .container label{
    font-size: 13.5px;
  }
}
