.container{
    animation: showup 1s linear forwards;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    height: 100%;
}
@keyframes showup  {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.profileLogo{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    position: relative;
}


.scorePart{
 display: flex;
 align-items: center;
 gap: 10px;
}

.scorePart p:nth-child(2){
    background: var(--primaryGold);
    color: black;
    border-radius:20%;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info{
    display: flex;
    gap: 10px;
}

.info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

.info label{
    width: fit-content;
    border-radius: 5px;
}
.info input {
    border: none;
    padding: 5px ;
    outline: none;
    color: var(--primaryText);
    width: calc(100% - 10px);
    border-radius: 5px;
}

.info input:focus label{
transform: translateY(-10px);
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.submitButton{
    transition: .4s ease;
    height: var(--height);
    opacity: var(--opacity);
    display: flex;
    justify-content: flex-end;
} 
@media screen and (max-width:750px) {
    .container input{
        font-size: 17px;
    }
    .container button{
        font-size: 17px;
    }
}

