.modalBG{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #00000085;
    z-index: 998;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}

.container{
    display: flex;
    flex-direction: column;
    background: var(--primaryBG);
    position: absolute;
    z-index: 999;
    top: 90px;
    width: 300px;
    height: calc(100vh - 95px);
    border-radius: 5px;
    align-items: center;
    transform: var(--transform);
    transition: .2s ease;
    gap: 5px;
    pointer-events: var(--pointerEvent);
    opacity: var(--opacity);
}

.dropDownContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.dropDownContainer::before{
    position: absolute;
    content: '';
    width: 50%;
    left: var(--left);
    transition: .2s;
    bottom: 0px;
    background:var(--primaryDarkGold) ;
    height: 100%;
    border-bottom: solid;
    border-color: yellow;
    border-width: 2px;
    box-sizing: border-box;
    z-index: -1;
}

.dropDownContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: rgba(66, 65, 65, 0.452) !important;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.menu::-webkit-scrollbar{
    width: 7px;
}
.menu::-webkit-scrollbar{
    background: var(--primaryBG);
}
.menu::-webkit-scrollbar-thumb{
    background: var(--primaryDarkGold);
}

.menu a{
    background: rgba(252, 251, 250, 0.116);
    border-radius: 2px;
    min-height: 60px;
    padding: 0px 10px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.searchContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.searchContainer input {
    width: 100%;
    border: none;
    background: rgba(252, 251, 250, 0.116);
    color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

.searchContainer button{
    min-width: 50px; 
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.searchContainer svg{
    scale: 2;

}