:root{
    --primary :rgb(11, 14, 21);
    --inputBG: rgba(55, 65, 71, 0.749);

}

body{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    color: white;
    background:var(--primary);
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color: white;
}
