.mobileSliderContainer{
    display: none !important;
}


@media screen and (max-width:450px) {
    .mobileSliderContainer{
        display:inline-block !important;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: auto;
    }
    .mobileSliderContainer span{
       width: 20px;
       height: 20px;
       background: var(--primaryBG);
    }
}


