.modalContaienr{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000069;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 999;
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 80%;
    max-width: 1000px;
}


.closeButton{
 position: absolute;
 background: var(--primaryRed);
 left: 10px;
 top: 10px;
 border-radius: 5px;
 padding: 5px;
 width: 60px;
 color: white;
 cursor: pointer;
 transition: .2s ease;
}

.closeButton:hover{
    background: pink;
    color: black;
}



@media screen and (max-width:1000px) {
    .modal{
         transform: translateX(0);
         scale: .75;
    }
    .closeButton{
        right: 10px;
        width: 50px;
    }
}

@media screen and (max-width:800px) {
  .modal{
    width: 100%;
    margin: 25px;
  }
}

@media screen and (max-width:700px) {
    .closeButton{
        width: 30px;
        height: 30px;
    }
}


@media screen  and (max-width:450px){
    .modal{
        width: 100%;
        margin: 0px;
    }
    .closeButton{
        scale: .8;
        right: 0px;
    }
}

