.imagesContainer{
    display: flex;
    gap: 50px;
    border-bottom: dotted gray;
    padding-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}



.imagecontainer label{
        white-space: nowrap;
        margin-left: 10px;
}

.imageSubContainer{
        position: relative;
        overflow: hidden;
        height: fit-content;
}
    
.mainImage {
        position: relative;
        width: 220px;
        height: 220px;
        transition: .2s ease;
        cursor: pointer;
        border-radius: 5px;
}

.otherImages {
        width: 150px;
        height: 100%;
        cursor: pointer;
        transition: .2s ease;
        border-radius: 5px;
}

.mainImageContainer{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        overflow: hidden;
}

.mainImageContainer:hover > .remove{
        transform: translateY(0px);
}
       
    
.imageSubContainer:hover > .remove{
        transform: translateY(-10px);
}

.remove{
        position: absolute;
        left: 0px;
        bottom: 0px;
        background: rgba(255, 192, 203, 0.555);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(40px);
        transition: .2s ease;
        cursor: pointer;
        color: black;
}

.mainImage, 
.otherImages{
border: dashed;
border-color: var(--primaryBG);
}

 .mainImage:hover ,
  .otherImages:hover{
        border: dashed;
        border-color: gray;
 }

 .remove:hover{
        background: rgba(250, 119, 141, 0.736);
 }

    