.titleContainer{
    display: flex;
    gap: 100px;
    border-bottom: dotted gray;
    padding-bottom: 20px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.shortDesc{
    display: flex;
    align-items: center;
    gap: 10px;
}



.titleContainer input{
    border-radius: 5px;
    padding: 5px;
    background: var(--inputBG);
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    width: 100px;
}

