.txtContainer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.txtContainer textarea {
    width: calc(100% - 20px);
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    background: var(--inputBG);
    resize: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--primaryColor);
    font-size: 15px;
}


.inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.inputContainer div{
    display: flex;
    width: 50%;
    flex-direction: column;

}

.inputContainer input{
    border-radius: 5px;
    width: 94%;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: var(--primaryColor);
}

