.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background:rgb(28, 33, 43);
    border-radius: 5px;
    height: 800px;
    margin-right: 150px;
    justify-content: center;
}

.infoSection{
    width: 55%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85%;
    padding: 0px 30px;
}

.infoSection h1{
    flex: 1;
    border-bottom: double ;
    border-color: rgba(253, 253, 253, 0.371);
    display: flex;
    align-items: center;
}

.priceContainer{
    display: flex;
    flex: 1;
    border-bottom: double ;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-color: rgba(253, 253, 253, 0.371);
}

.discountPart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.discountPart p{
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

.offPart{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    opacity: .6;
    justify-content: space-between;
}
.offPart span{
    border-radius: 20%;
    background: var(--primaryRed);
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0px 5px;
}

.profit{
    font-size: 14px;
    color: rgba(166, 223, 108, 0.779);
}
.profit span{
    font-size: 20px;
    color: rgb(166, 223, 108);
    text-decoration: underline;
}
.discountedPrice{
    opacity: .8;
    font-size: small;
    text-decoration: line-through;
    color: pink;
}

.discountCode{
    display: flex;
    align-items: center;
    gap: 10px;
}

.discountCode input{
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    border: none;
    box-shadow: 0px 0px 5px black;
    outline: none;
    font-weight: bold;
}
.discountCode label{
    width: 125px;
    height: 25px;
}

.discountCode button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background:var(--primary);
    color: var(--primaryTextColor);
    border: solid var(--primaryColor);
    font-weight: bold;
    cursor: pointer;
    width: 125px;
}

.shortDesc{
    border-bottom: double ;
    border-color: rgba(253, 253, 253, 0.371);
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;

}
.buttonContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}


.buttonContainer button{
    transition: .2s ease;
    cursor: pointer;
}

.counter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkoutButton button{
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: .2s ease;
    white-space: nowrap;
    width: 130px;
    filter: brightness(100%);
    box-shadow: inset 0px 0px 10px var(--primaryColor);
    color: black;
    color: var(--primaryColor);
}

.checkoutButton button::after{
    background: var(--primary);
}
.checkoutButton button::before{
    background-color: var(--primaryColor);

}

.checkoutButton svg{
    scale: 1.5;
}


.counterButtons{
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid;
    border-radius: 5px;
    width: 100px;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
}
.counterButtons button{
    border-radius: 5px;
    border: none;
    flex: 1;
    cursor: pointer;
    transition: .2s ease;
    font-size: 25px;
    font-weight: bold;
}
.counter button:active{
    scale: .7;
}

.counter span{
    flex:1;
    text-align: center;
}





.optionSelection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.optionSelection button{
    background: transparent;
    border: none;
}
.optionSelection button svg{
    scale: 2;
}
.optionSelection button:first-child{
    color: rgb(244, 113, 135);
}
.optionSelection button:last-child{
   color: lightblue;
}