.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background:rgb(28, 33, 43);
    border-radius: 5px;
    height: 800px;
    margin-right: 150px;
    justify-content: center;
    height: 70vh;

}

.infoSection{
    width: 55%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85%;
    padding: 0px 20px;
}

.infoSection h1{
    flex: 1;
    border-bottom: double ;
    border-color: rgba(253, 253, 253, 0.371);
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.priceContainer{
    display: flex;
    flex: 1;
    border-bottom: double ;
    align-items: center;
    justify-content: flex-start;
    gap: 130px;
    border-color: rgba(253, 253, 253, 0.371);
}

.discountPart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.discountPart p{
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

.offPart{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    opacity: .6;
    justify-content: space-between;
}
.offPart span{
    border-radius: 20%;
    background: var(--primaryRed);
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0px 5px;
}


.discountedPrice{
    opacity: .8;
    font-size: small;
    text-decoration: line-through;
    color: pink;
}

.discountCode{
    display: flex;
    align-items: center;
    gap: 10px;
}

.discountCode input{
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    border: none;
    box-shadow: 0px 0px 5px black;
    outline: none;
    font-weight: bold;
}
.discountCode label{
    width: 125px;
    height: 25px;
}

.discountCode button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background:var(--primary);
    color: var(--primaryTextColor);
    border: solid var(--primaryColor);
    font-weight: bold;
    cursor: pointer;
    width: 125px;
}

.shortDesc{
    border-bottom: double ;
    border-color: rgba(253, 253, 253, 0.371);
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
}

.buttonContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: space-between;
    padding-left: 20px;
}


.buttonContainer button{
    transition: .2s ease;
    cursor: pointer;
}

.checkoutSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkoutButton button{
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: .2s ease;
    white-space: nowrap;
    width: 130px;
    filter: brightness(100%);
    box-shadow: inset 0px 0px 10px var(--primaryColor);
    color: black;
    color: var(--primaryColor);
}

.checkoutButton button::after{
    background: var(--primary);
}
.checkoutButton button::before{
    background-color: var(--primaryColor);

}

.checkoutButton svg{
    scale: 1.5;
}


.checkoutSection button:active{
    scale: .7;
}

.checkoutSection span{
    flex:1;
    text-align: center;
}

.optionSelection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.optionSelection button{
    background: transparent;
    border: none;
}
.optionSelection button svg{
    scale: 2;
}
.optionSelection button:first-child{
    color: rgb(244, 113, 135);
}
.optionSelection button:last-child{
   color: lightblue;
}




@media screen and (max-width: 1300px) {
    .container{
        height: 600px;
    }
    .priceContainer{
        flex-wrap: wrap;
        gap: 20px;
        font-size: 15px;
    }

    .discountPart p{
        font-size: 20px;
    }
    .discountCode label{
        width: 100px;
    }
    .discountCode button{
        width: 100px;
    }
    .infoSection{
        min-width: 58%;
    }
}


@media screen and (max-width:1000px) {
    .container{
        height:500px;
    }
    .container h1{
        font-size: 25px;
    }

    .checkoutButton button {
        font-size: 13px;
        width: 100px;
    }

    .optionSelection{
        position: absolute;
        left: 40px;
        top: 50px;
    }

    .checkoutSection{
        width: 100%;
        gap: 50px;
    }

    .infoSection{
     width: 63%;
    }

    .priceContainer {
        padding-bottom: 10px;
    }

    
}

@media screen and (max-width:900px) {
    .infoSection{
        width: 66%;
    }
}

@media screen and (max-width:800px) {
    .container{
        margin: auto;
        height: fit-content;
        width: 95%;
    }
     .infoSection h1{
        padding: 10px;
        width: 90%;
        margin: auto;
     }
     .infoSection .shortDesc{
        padding: 10px;
        width: 90%;
        margin: auto;

     }
    .infoSection{
        width: 100%;
        padding: 0px;
        margin-top: -60px;
    }
    .optionSelection{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 20px;
        top: 40px;
        scale: 1.2;
    }

   .checkoutButton{
    display: none;
   }
   .priceContainer{
    display: none;
   }

   .shortDesc{
    border-bottom: none;
   }
   
}

@media screen and (max-width:800px) {
    .optionSelection{
        scale: 1;
        left: 10px;
        top: 10px;
    }
}


@media screen and (max-width:500px) {
    .optionSelection{
        scale: .9;
        left: 5px;
        top: 10px;
    }

}

@media screen and (max-height:930px) {
    .container{
        height: 70vh
    }
}
