.starContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.starContainer svg{
    color: var(--primaryColor);
    scale: 1.5;
    cursor: pointer;
}
.starContainer svg:hover{
    color: yellow;
}

@media screen and (max-width:450px) {
    .starContainer label{
        font-size: 16px;
    }
    .starContainer {
        width: 96%;
        justify-content: space-between;
        margin: auto;
    }
 
}