.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
    margin-top: -150px;
    animation: showup 1s forwards linear;
}

@keyframes showup {
    from{
        opacity: 0;
    }
    to{
    opacity: 1;
    }
}

.container h4{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(45deg , white , goldenrod , white);
    background-clip: text;
    color: transparent;
}