.container{
    display: flex;
    flex-direction: column;
    width: 93%;
    gap: 50px;
    font-size: larger;
    margin: 50px auto;
}

.detailSection{
    padding: 0px 30px;
    border-radius: 5px;
}


.detailSection h1{
    font-weight: 600;
    border-bottom: double;
    width: fit-content;
    border-color: goldenrod;
}

.description{
    padding: 0px 30px;
}
.description h1{
    font-weight: 600;
    border-bottom: double;
    width: fit-content;
    border-color: goldenrod;
}

.featuresContainer{
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 20px;

}


.featuresContainer label{
    border: none;
    display: flex;
    width: 50px;
    padding: 5px;
    border-bottom: double rgba(128, 128, 128, 0.555);
}

.featuresContainer p{
    flex: 1;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: center;
    border-bottom: double rgba(128, 128, 128, 0.555);
}

.commentSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;

}

.commentSection h1{
    font-weight: 600;
    border-bottom: double;
    width: fit-content;
    border-color: goldenrod;
}


.commentInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentInfo div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.commentInfo input{
    border-radius: 5px;
    padding: 5px;
    background: var(--inputBG);
    border: none;
    outline: none;

}

.commentSection textarea{
    background: var(--inputBG);
    border-radius: 5px;
    outline: none;
    height: 150px;
    border: none;
    outline: none;
    resize: none;
    color: var(--primaryTextColor);
    font-size: 20px;
    padding: 15px;
}



@media screen and (max-width:800px) {
    .container{
        width: 100%;
    }
   .commentInfo{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
   } 
   .commentInfo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   }
}

@media screen and (max-width : 550px) {
    .container h1{
        font-size: 25px;
    }

    .description h2{
        font-size: 20px;
    }
   .description p{
        font-size:16px
   }
   .featuresContainer label{
    font-size: 16px;
   }
   .featuresContainer p{
    font-size: 16px;
   }
   .commentInfo label{
    font-size: 16px;
   }
   .commentSection button{
    transform: translate(0px ,-10px);
    border-width: 1px;
   }
   .commentSection textarea{
    font-size: 16px;
   }
}